@{
    Layout = "~/Views/Shared/_Layout.Basic.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Map Rover</title>
@Styles.Render("~/Content/themes/base/Site.css", "~/Content/Site.css")
@Scripts.Render("~/bundles/modernizr")
</head>

<body>
<div class="main-content"> 
<h1>Seit jabut body</h1>
</div>    
</body>

