@model MapRover.Models.ViewModels.MapInformation
@{
    ViewBag.Title = "Index";
}
    <script>
        $(document).ready(function () { $("#citiesSelect").select2(); });
    </script> 
   
 
@section RightBar {
 
    <h3>I am here:</h3>
    <br/>
    <select id="citiesSelect">
        @{
            foreach (var City in Model.Cities.OrderBy(c => c.Name))
            {
                <option value="@City.CityId">@City.Name</option>
            }
        }
    </select>
  
    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </li>

        <li class="two">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </li>

        <li class="three">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
        </li>
    </ol>

}

<hgroup class="title">
    <h1>Map of Europe</h1>
</hgroup>
<link rel="stylesheet" type="text/css" href="Content/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="Content/Site.css">

                <div id="capslide_img_cont11" class="ic_container">

    @Html.Partial("~/Views/Shared/MapControl.cshtml", Model.Airports)  

                    <div class="ic_caption">

                        <p class="ic_category">Some City X</p>
                        <p class="ic_image">  
                        </p>

                        <h3>Insight of the City</h3>
                          
                        <dl class="ic_text">

                            <dt>Size:</dt> 
                            <dt>Population:</dt> 
                            <dt>"Cheers":</dt> 
                            <dt>Prices</dt>
                            <dd>Bread:</dd> 
                            <dd>Coke:</dd>
                            <dt>Description:   Here is going to be a short description of each city and its insights. What can you discover here? Why it's a perfect place to visit?</dt>
                        </dl> 
                     </div>
</div>            
<script type="text/javascript">
    $(function () {
        $("#capslide_img_cont11").capslide({
            caption_color: '#fff',
            caption_bgcolor: '#000',
            overlay_bgcolor: '#4869D6',
            border: '5px solid #000',
            showcaption: true
        });
    });
</script>

