@model MapRover.Models.ViewModels.MapInformation
@{
    ViewBag.Title = "Index";
}
    <script>
        $(document).ready(function () { $("#citiesSelect").select2(); });
    </script>
   
 
@section RightBar {
 
    <h3>I am here:</h3>
    <br/>
    <select id="citiesSelect">
        @{
            foreach (var City in Model.Cities.OrderBy(c => c.Name))
            {
                <option value="@City.CityId">@City.Name</option>
            }           
        }
    </select>

      <h3>Choose the distance of destination:</h3>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 6000,
                step:100,
                values: [1000, 4000],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " km" + " - " + ui.values[1] + " km");
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) + " km" +
                " - " + $("#slider-range").slider("values", 1)+ " km");
        });
    </script>

<p>
    <input type="text" id="amount" style="border: 0; color: #403b3b; position:absolute; top:370px;
    margin-left:700px; left:225px" />
</p>
 
<div id="slider-range" style="position:absolute; top:420px; left:880px"></div>
    
}

<hgroup class="title">
    <h3></h3>
</hgroup>
<div id="capslide_img_cont11" class="ic_container">

@Html.Partial("~/Views/Shared/MapControl.cshtml", Model.Airports)  

<div class="ic_caption">
    <button id="slideButton" type="button" style="position:absolute; right:0px; top:10px; ">Slide</button>
    <p class="ic_category">Some City X</p>
    <p class="ic_image">  
    </p>

    <h3>Insight of the City</h3>
                          
    <dl class="ic_text">

        <dt>Size:</dt> 
        <dt>Population:</dt> 
        <dt>"Cheers":</dt> 
        <dt>Prices</dt>
        <dd>Bread:</dd> 
        <dd>Coke:</dd>
        <dt>Description:   Here is going to be a short description of each city and its insights. What can you discover here? Why it's a perfect place to visit?</dt>
    </dl> 
</div>
</div>            
<script type="text/javascript">
    $(function () {
        $("#capslide_img_cont11").capslide({
            caption_color: '#fff',
            caption_bgcolor: '#000',
            overlay_bgcolor: '#4869D6',
            border: '5px solid #000',
            showcaption: true,
            slideButton: $("#slideButton")
        });

        autoHideFutureMarkers = true;
        hideAllMarkers();

        $('#citiesSelect').change(function () {
            hideAllMarkers();
            showMarkersForCity($('#citiesSelect').val());
        });
    });
</script>

