@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>

    <h2>Mērķis un Mērķauditorija</h2>

    <p>Projekta mērķis ir izveidot interaktīvu kartes aplikāciju, kas kalpotu kā atainojums bakalaura darba pirmajā daļā aprakstītajai interaktīvās kartogrāfijas teorijai. Minētais mērķis ir definēts bakalaura darba ietvaros. Tomēr pašas jaunizveidotās aplikācijas mērķis vispārīgā līmenī ir dot lietotājam iespēju atrast piemērotāko ceļošanas mērķi, atkarībā no lidostu maršrutu piedāvājuma, personīgās motivācijas ceļojumam un citu lietotāju pieredzes.
Mērķauditorija, ir jebkādas vecuma  lietotāji, kas plāno ceļojumu.
    </p>
    <h2>Pielietojums</h2>
    <p>Projekta iznākums ir aplikācija, kas nodrošina lietotāju ar informāciju par labākajām ceļojuma iespējām. Šīs informācijas atrašanu nodrošina informācijas filtrēšana, norādot savu atrašanās vietu un izvirzot dažādus kritērijus vēlamajam ceļojuma mērķim. Tāpat, potenciālo pilsētu palīdz izvēlēties pieejamā informācija par katru pilsētu un tās attēls, kā arī citu lietotāju pievienotā informācija – reitingi, komentāri, ceļojumu stāsti. 
Rezultātā – aplikācija ļauj informācijas filtrēšanu, nodrošina kartes interaktivitāti un viegli izmantojamu, intuitīvu interfeisu, kas, savukārt, sniedz lietotājam informatīvu ceļojumu mērķu meklētāju. 

    </p>
</article>

<aside>
    <h3>Izmantotie materiāli</h3>
    <p>
        Šīs is MVC pamācības, kuras izmantoju projekta izveidē:
    </p>
    <ul>
        <li><a href="http://www.asp.net/mvc/tutorials/mvc-music-store">MVC Music Store</a></li>
        <li><a href="http://www.asp.net/mvc/tutorials/getting-started-with-aspnet-mvc3/cs/intro-to-aspnet-mvc-3">Ievads MVC3</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API v3</a></li>
    </ul>
    <h3>Bilžu nodrošināšanai izmantots wikipedia.com</h3>
</aside>
