@{
    ViewBag.Title = "About";
}
<!--<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>-->
<br />
<br />
<article>
    <div id="pos">
    <h2><img src='/Content/themes/base/images/lv.png' /> Mērķis un Mērķauditorija</h2>
    <span class="textborder">
    <p>Bakalaura darba ietvaros projekta mērķis ir izveidot interaktīvu kartes aplikāciju, kas kalpotu kā atainojums bakalaura darba pētnieciski aprakstošajā daļā aprakstītajai interaktīvās kartogrāfijas teorijai. Jaunizveidotās aplikācijas mērķis vispārīgā līmenī ir dot lietotājam iespēju atrast piemērotāko ceļojuma mērķi, atkarībā no lidostu maršrutu piedāvājuma vēlamajā attālumā un personīgās motivācijas ceļojumam, kā palīgu izmantojot pilsētu pamatinformāciju un attēlus.
Mērķauditorija ir lietotāji, kas plāno ceļojumu, un lietotāji, kas meklē apkopotu pamatinformāciju par pilsētām.
    </p>
    <h2><img src='/Content/themes/base/images/gb.png' /> Aim and Target group</h2>
    <p>Aim of the project is to create an interactive map application in order to represent theory of interactive cartography described in bachelor thesis. In a general understanding, aim of the newly made application is to give an opportunity for users to find the most attractive travel destination due to airport routes in a desired distance and individual motivation for journey, with a help of city information and images.<br /> 
Target group are users which are planning travel and users which are searching for basic information on cities. 
    </p>
        </span>
    <h2><img src='/Content/themes/base/images/lv.png' /> Pielietojums</h2>
    <div>Projekta iznākums nodrošina lietotāju ar viegli izmantojamu, intuitīvu lietotāja vidi (interfeisu) un sniedz lietotājam informatīvu ceļojumu mērķu meklētāju Eiropas līmenī. Informācijas atlasei, tiek norādīta sava atrašanās vieta un izvirzīti dažādi kritēriji vēlamajam ceļojuma mērķim. Potenciālo pilsētu palīdz izvēlēties arī pieejamā pamatinformācija par katru pilsētu un tās attēls. 
Papildinot izveidoto aplikācijas modeli ar datiem, to var izmantot dažādiem nolūkiem, kas nav saistīti ar aplikācijas tiešo mērķi. 
 Šāds pielietojums var būt Eiropas pilsētu un lidostu pamatinformācijas ieguve. Izmantojot karti, var uzskatāmi novērot lidostu aktivitāti (pēc pieejamo reisu skaita), lidostu skaitu pilsētā, lidostu noslogojumu, kā arī kādas lidostas ir savā starpā savienotas. Lietotājs var ātri iegūt pamatinformāciju par pilsētām (izmēru, iedzīvotāju skaitu, naudas vienību utt.) un atrast attālumus starp dažādām pilsētām ar aplikācijā pieejamās informācijas atlases palīdzību.
   </div>
   <h2><img src='/Content/themes/base/images/gb.png' /> Use-cases</h2>
   <div>The result of the project provides user with an easy to use, intuitive user interface and gives an informative travel destination search engine for Europe. In order to filter information, user has to define current location and choose requirements for desired destination. Information and image of each city help to choose the potential city to visit.<br />
By enriching application with data, it can be used for aims which are not connected with the direct aim of application.
This kind of use-case can be gathering an information of European cities and airports. By using the map it is possible to observe activity of the airports (according to available number of flights), the amount of airports in each city, airport workload (according to number of passengers) and which airports are connected to each other. User can gather some basic information on cities (size, number of inhabitants, currency etc.) and find distances between different cities with a help of information filters implemented in the application.
   </div>
   </div>
</article>
    <br />
    <br />
<aside>
    <h3>Izmantotie materiāli</h3>
    <p>
        Šīs is MVC pamācības, kuras izmantoju projekta izveidē:
    </p>
    <ul>
        <li><a href="http://www.asp.net/mvc/tutorials/mvc-music-store">MVC Music Store</a></li>
        <li><a href="http://www.asp.net/mvc/tutorials/getting-started-with-aspnet-mvc3/cs/intro-to-aspnet-mvc-3">Ievads MVC3</a></li>
        <li><a href="http://www.asp.net/mvc/tutorials/getting-started-with-aspnet-mvc3/cs/adding-a-new-field">MVC datu bāzes izveide</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API v3</a></li>
    </ul>
    <p>Bilžu nodrošināšanai izmantots wikipedia.com un personīgie arhīvi</p>
    <p><a href="http://mapicons.nicolasmollet.com/">Marķieru ikonas izveidotas ar mapicons.nicolasmollet.com palīdzību</a> </p>
</aside>
