@{
      ViewBag.Title = "Contact info";
} 

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>

<section class="contact">
    <header>
                    <aside>
                <dl style="text-align:left; position:absolute; margin-left:-500px">
                    <dt><strong>Name:</strong> Sigita Grīnfelde</dt>
                    <dt><strong>Age:</strong> 23</dt>
                    <dt><strong>University:</strong> Rīgas Tehniskā universitāte / <i>Riga Technical University</i></dt>
                    <dt><strong>Study programme:</strong> Ģeomātika / <i>Geomatics</i></dt>
                    <dt><strong>Student ID:</strong> 081RBC095</dt>
                    <dt><strong>Phone number:</strong> +371 2xxxxxxx</dt>
                    <dt><strong>E-mail</strong><a href="mailto:sigita.grinfelde@gmail.com"> Epasts@info.com</a></dt>
                    <dt><strong>Project description:</strong> Bakalaura darba "Ceļvedis interaktīvā kartogrāfijā" ietvaros veiktais inženierpojekts - interaktīvas kartes aplikācijas piemērs. / <br />
<i>Project - interactive map application example - made within the bachelor thesis "Guide to interactive cartography".</i></dt>
               </dl>     
            </aside>
    </header>
    <img src="/Content/themes/base/images/sigita1.jpg" style="position: absolute; margin-left:170px; margin-top:20px">
</section>
