@{
      ViewBag.Title = "Kontakti";
} 

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>

<section class="contact">
    <header>
        <h3>Gadījumā, ja aplikācijā kaut kas nestrādā vai ir novēroti kļūdaini dati, šeit ir administratora kontaktinformācija:)</h3>
        <h3>Kontakttālrunis</h3>
    </header>
    <p>
        <span class="label">Telefona numurs:</span>
        <span>+371 67xxxxxx</span>
    </p>
    <p>
        <span class="label">Mobilais telefons:</span>
        <span>+371 2xxxxxxx</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-pasts</h3>
    </header>
    <p>
        <span class="label">Administrators:</span>
        <span><a href="mailto:sigita.grinfelde@gmail.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Cits:</span>
        <span><a href="sigita.grinfelde@gmail.com">Cits@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adrese</h3>
    </header>
    <p>
        Galvenais Kantoris<br />
       Kantora iela 8
    </p>
</section>
