@{
    Layout = "~/Views/Shared/_Layout.Basic.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div id="body">
    <hr />
    <section class="content-wrapper main-content clear-fix">
        <div class="content-wrapper">
            <div class="float-right" style="margin:50px auto">
                <nav>
                    <ul id="container">
                        <li id="first">@Html.ActionLink("Map", "Index", "Map")</li>
                        <li id="second">@Html.ActionLink("About", "About", "Home")</li>
                        <li id="third">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <hr />
</div>